* {
  margin: 0;
  padding: 0;
}

.header {
  width: 100%;
  height: 60px;
  background: #3c3a39;
  display: flex;
  justify-content: space-between;
}

.name {
  padding-top: 15px;
}

.header a {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #fff;
  width: 77px;
  height: 24px;
  padding-left: 24px;
  text-decoration: none;
  margin-top: 20px;
}

.name img {
  width: 18px;
  height: 12px;
  margin-right: 39px;
  margin-top: 7px;
}

.information {
  width: 100%;
  height: 560px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background: #1c1a19;
  background-image: url(img/Group1.png);
  background-repeat: no-repeat;
  background-position: right;
  background-position-y: 280px;
  background-size: 130px;
}

.discrptive {
  margin-top: 120px;
  width: 320px;
  height: 124px;
  font-weight: 400;
  font-size: 56px;
  color: #ff6b00;
  margin-left: 24px;
  letter-spacing: 0.37px;
  font-family: 'Crete Round', serif;
  line-height: 64px;
}

.discrptive-info {
  width: 297px;
  height: 27px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #fff5e1;
  margin-left: 22px;
  margin-top: 6px;
}

.paragraph {
  width: 327px;
  height: 123px;
  color: #fff;
  margin-left: 24px;
  margin-top: 12px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15.2px;
  line-height: 24px;
}

.icon {
  color: #dbd8d7;
  display: flex;
  position: relative;
  top: 18px;
  width: 40px;
  height: 40px;
  font-size: 20px;
  padding-left: 18px;
}

.icon li {
  list-style: none;
}

.icon i {
  color: #dbd8d7;
  padding-left: 15px;
}

.body {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
}

.body h2 {
  margin-top: 260px;
  width: 327px;
  height: 83px;
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
  margin-left: 24px;
  color: #1c1a19;
}

hr {
  color: #e5e5e5;
  width: 90%;
  margin: 5px auto;
}

.body img {
  width: 90%;
  margin: 0 auto;
  margin-top: 75px;
}

.body h3 {
  margin: 0 auto;
  margin-top: 24px;
  font-family: 'Crete Round', sans-serif;
  font-size: 32px;
  font-weight: 400;
  line-height: 44px;
  letter-spacing: 0;
  text-align: left;
  width: 90%;
  color: #091e42;
}

.story-detail {
  margin: 0 auto;
  width: 90%;
  color: #091e42;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.first-buttons {
  display: flex;
  width: 90%;
  margin: 0 auto;
  justify-content: left;
  gap: 10px;
  margin-top: 12px;
}

.first-buttons .list {
  list-style: none;
  width: 49px;
  height: 40px;
  border: 1px solid #8993a4;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
}

.list1 {
  list-style: none;
  width: 95px;
  height: 40px;
  border: 1px solid #8993a4;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
}

.button1 {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.03em;
  margin-top: 12px;
  width: 124px;
  height: 48px;
  margin-left: 18px;
  background: #ff6b00;
  color: #fff;
  border: none;
}

.button1:hover {
  background: #fff5e1;
  color: #5b5957;
}

.arts {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 100%;
}

.btn-list {
  width: 90%;
  background-color: red;
  margin: 8px auto;
  background-image: url(img/Img\ Placeholder\ 2.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.btn-list h3 {
  font-family: 'Crete Round', sans-serif;
  font-size: 32px;
  font-weight: 300;
  line-height: 44px;
  letter-spacing: 0;
  text-align: left;
  color: #fff;
  width: 295px;
  height: 81px;
  margin: 0 auto;
  margin-top: 88px;
  padding-right: 15px;
}

.btn-list p {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #fff;
  margin: 12px 30px 5px 15px;
}

.btn-list ul {
  display: flex;
  gap: 10px;
  margin-left: 17px;
}

.list-btn {
  width: 61px;
  height: 40px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  background: rgba(255, 255, 255, 0.24);
  display: grid;
  place-items: center;
  color: #fff;
}

.list-boot {
  width: 95px;
  list-style: none;
  height: 40px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  background: rgba(255, 255, 255, 0.24);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.btn1 {
  width: 100%;
  background: #ff6b00;
  height: 48px;
  border: none;
  margin-top: 18px;
  color: #fff;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn1:hover {
  background: #fff5e1;
  color: #5b5957;
}

.about {
  width: 100%;
  background: #1c1a19;
  margin-top: 105px;
  background-image: url(img/Frame.png);
  background-repeat: no-repeat;
  background-position: right;
  background-position-y: 375px;
}

.about h2 {
  color: #ff6b00;
  margin: 0 auto;
  margin-top: 125px;
  width: 327px;
  height: 79px;
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 72px;
  line-height: 88px;
}

.about p {
  color: #f4f5f7;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin: 24px 24px 24px 24px;
}

.about button {
  width: 161px;
  height: 48px;
  background: #ff6b00;
  border: none;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  margin-left: 24px;
}

.about button:hover {
  background: #fff5e1;
  color: #5b5957;
}

.about .second-line {
  color: white;
  margin-top: 200px;
}

.new-lang {
  margin-top: 90px;
}

.language {
  display: flex;
  justify-content: center;
  color: #fff;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
}

.new-lang img {
  position: relative;
  top: 40px;
  left: 85px;
}

.new-lang ul {
  margin-top: 23px;
}

.new-lang li {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 43px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  margin-top: 15px;
}

.frame {
  display: flex;
  justify-content: center;
  color: #fff;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
}

.framework img {
  position: relative;
  top: 35px;
  left: 65px;
}

.framework ul {
  margin-top: 25px;
}

.framework li {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 43px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  margin-top: 15px;
}

.skill {
  display: flex;
  justify-content: center;
  color: #fff;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
}

.skills img {
  position: relative;
  top: 35px;
  left: 120px;
}

.skills ul {
  margin-top: 25px;
  margin-bottom: 90px;
}

.skills li {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 43px;
  display: grid;
  place-items: center;
  color: #fff;
  margin-top: 15px;
}
