* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.head {
  width: 100%;
  height: 60px;
  background: #3e3c3c;
  text-align: center;
  display: flex;
  justify-content: space-between;
}

.nav-top {
  display: flex;
  text-decoration: none;
  height: 100%;
  align-items: center;
}

.nav-menu {
  display: flex;
  list-style: none;
  font-size: 15px;
  text-align: center;
  margin-right: 139px;
}

.nav-menu li {
  padding-right: 32px;
}

.main-m {
  display: none;
}

.tit {
  color: #fff;
  text-decoration: none;
  display: flex;
  align-items: center;
  margin-left: 150px;
  font-family: "Inter", sans-serif;
  font-style: bold;
  font-size: 20px;
}

.nav-menu a {
  text-decoration: none;
  color: #fff;
}

.icn-list {
  background: #1c1a19;
  height: 100vh;
  background-image: url(img/header-illustration.png);
  background-repeat: no-repeat;
  background-size: 580px;
  background-position-x: 65vw;
}

.info {
  display: flex;
  padding: 90px 24px;
  background: #1c1a19;
  height: 820px;
  background-image: url(img/header-illustration.png);
  background-repeat: no-repeat;
  background-size: 580px;
  background-position-x: 65vw;
}

.icon {
  display: flex;
  flex-direction: column;
  padding-top: 115px;
}

.icon i {
  color: #fff;
  padding-top: 30px;
  font-size: 20px;
}

.about-bruk {
  padding-left: 80px;
  padding-top: 60px;
}

.bura {
  color: #f55800;
  width: 400px;
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 72px;
  line-height: 82px;
}

.job {
  line-height: 44px;
  color: #fff;
  font-weight: 700;
  font-size: 34px;
  margin: 15px 0;
  font-family: 'Inter', sans-serif;
  font-style: normal;
}

.discription {
  color: #f4f5f7;
  line-height: 32px;
  width: 566px;
  font-weight: 400;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-size: 20px;
}

.work-hr {
  display: flex;
  flex-direction: column;
}

.work-hr hr {
  width: 60%;
  margin-left: 600px;
  position: relative;
  bottom: 20px;
}

.my-recent {
  font-weight: 400;
  font-size: 40px;
  margin-left: 20px;
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  padding-top: 120px;
  padding-left: 90px;
}

.img {
  display: grid;
  grid-template-columns: 60% 40%;
  width: 90%;
  margin: 0 auto;
  margin-top: 120px;
}

.img img {
  width: 80%;
  margin-left: 110px;
}

.recent-title {
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
  color: #091e42;
  width: 60%;
}

.recent-disc {
  font-size: 20px;
  width: 86%;
  margin-top: 20px;
  font-family: 'Inter', sans-serif;
  color: #091e42;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}

.recent-list {
  display: flex;
  gap: 15px;
  padding-top: 20px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
}

.recent-list li {
  list-style: none;
  background-color: rgba(255, 255, 255, 0.24);
  border: 1px solid #8993a4;
  width: 13%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.my-workr button {
  margin-top: 25px;
  width: 25%;
  height: 48px;
  background-color: #f55800;
  color: #fff;
  font-size: 15px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  border: none;
  font-weight: 700;
}

.desk-list button {
  width: 100%;
  height: 60px;
  background-color: #f55800;
  color: #fff;
  margin-top: 300px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  border: none;
}

.my-workr button:hover {
  background: #fff5e1;
  color: #f55800;
  border: 1px solid #f55800;
}

.button1:hover {
  background: #fff5e1;
  color: #f55800;
  border: 1px solid #f55800;
}

.dash {
  display: none;
}

.desk-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  margin-top: 40px;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  row-gap: 15px;
  column-gap: 15px;
}

.desk-list {
  background-image: url(img/imgplaceholder.png);
  background-repeat: no-repeat;
  background-size: cover;
  border: 1px solid rgb(245, 236, 236);
}

.data1 {
  background-image: url(img/placeholder-sec.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

.data2 {
  background-image: url(img/place.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.btn-list h3 {
  font-family: 'Crete Round', sans-serif;
  font-size: 32px;
  font-weight: 300;
  line-height: 44px;
  letter-spacing: 0;
  text-align: left;
  color: #fff;
  width: 295px;
  height: 81px;
  margin: 0 auto;
  margin-top: 88px;
}

.data3 {
  background-image: url(img/dark.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.data4 {
  background-image: url(img/placeholder-sec.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.data5 {
  background-image: url(img/place.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.desk-list button:hover {
  background-color: #fff5e1;
  color: #f55800;
  border: 1px solid #f55800;
}

.mob-tit {
  color: #fff;
  font-size: 32px;
  display: flex;
  justify-content: center;
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 44px;
  margin-left: 15px;
  margin-top: 90px;
}

.mob-tit1 {
  color: #fff;
  font-size: 32px;
  display: flex;
  justify-content: center;
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 44px;
  margin-right: 85px;
  margin-top: 135px;
}

.mob-dics {
  color: #fff;
  margin-left: 15px;
  margin-top: 30px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 24px;
}

.mob-li {
  display: flex;
  gap: 10px;
  margin-left: 12px;
  margin-top: 25px;
}

.btn1:hover {
  background: #fff5e1;
  color: #f55800;
  border: 1px solid #f55800;
}

.mob-li li {
  display: flex;
  list-style: none;
  color: #fff;
  height: 35px;
  width: 25%;
  text-align: center;
  background: rgba(255, 255, 255, 0.24);
  align-items: center;
  justify-content: center;
}

.about {
  margin-top: 90px;
  background-color: #1c1a19;
  width: 100%;
  background-image: url(img/group.png);
  background-repeat: no-repeat;
  background-size: 510px;
  background-position-x: 69vw;
  background-position-y: 8vh;
}

.about-work {
  color: #ff6b00;
  font-size: 72px;
  line-height: 88px;
  letter-spacing: 0.33px;
  margin-left: 88px;
  padding-top: 120px;
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
}

.about-me p {
  color: #fff;
  width: 566px;
  height: 148px;
  margin-left: 88px;
  font-size: 19px;
  margin-top: 10px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
}

.about-btn {
  width: 160px;
  height: 50px;
  margin-left: 88px;
  background-color: #f55800;
  color: #fff;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  border: none;
}

.about-btn:hover {
  background-color: #fff5e1;
}

.about button:hover {
  background: #fff5e1;
  color: #f55800;
  border: 1px solid #f55800;
}

.about hr {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  height: 1px;
  background-color: #fff;
  margin-top: 180px;
}

.recta {
  color: #fff;
  font-size: 22px;
  line-height: 35px;
}

.recta h3 {
  font-size: 30px;
}

.about-list {
  display: flex;
  justify-content: space-around;
  height: 390px;
  margin-top: 50px;
}

.recta ul {
  list-style: none;
}

.rec {
  display: flex;
}

.new-lang img {
  position: relative;
  top: 40px;
  left: 90px;
}

.recta img {
  position: relative;
  right: 42px;
  top: 42px;
}

.recta li {
  position: relative;
  left: 10px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 43px;
  margin-top: 10px;
}

.contact {
  padding-top: 90px;
  display: flex;
  margin: 0 auto;
}

.input {
  width: 60%;
  display: block;
  height: 30px;
  margin-left: 150px;
  border: none;
  border-bottom: 1px solid rgb(219, 208, 208);
  margin-top: 20px;
}

.framework img {
  position: relative;
  top: 35px;
  left: 72px;
}

.input-one {
  width: 60%;
  height: 140px;
  padding-bottom: 95px;
  margin-left: 150px;
  border: 1px solid rgb(252, 252, 252);
  background-color: rgb(247, 247, 247);
  margin-top: 15px;
}

.cont p {
  width: 600px;
  margin-left: 70px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
}

.cont-btn {
  margin-left: 150px;
  width: 11%;
  margin-top: 15px;
  background-color: #f55800;
  color: #fff;
  height: 48px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  border: none;
}

.cont-btn:hover {
  background-color: #fff5e1;
  color: #f55800;
  border: 1px solid #f55800;
}

.lin-la {
  width: 100%;
  height: 0.5px;
  margin-top: 160px;
  background: #dfe1e6;
}

.last-icon {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 30px;
  padding-top: 10px;
  font-size: 25px;
}

.skills img {
  padding-left: 120px;
  position: relative;
  top: 32px;
}

.skills ul {
  margin-top: 8px;
  margin-bottom: 90px;
}

.skills li {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 43px;
  display: flex;
  justify-content: center;
  color: #fff;
  margin-top: 5px;
}

.contact h2 {
  width: 93%;
  margin: 0 auto;
  margin-top: 100px;
  font-family: 'Inter', sans-serif;
  font-weight: 900;
  font-size: 34px;
  line-height: 44px;
  text-align: center;
  color: #172b4d;
  height: 216px;
}

.ip-type {
  display: flex;
  flex-direction: column;
  width: 87%;
  margin: 0 auto;
  position: relative;
  top: 30px;
}

.email {
  border: none;
  border-bottom: 1px solid #dfe1e6;
  height: 30px;
  margin-bottom: 25px;
}

.Name {
  border: none;
  border-bottom: 1px solid #dfe1e6;
  height: 30px;
  margin-bottom: 25px;
}

.t1 {
  height: 114px;
  background: #fbfbf7;
  border: none;
  text-justify: top;
  font-weight: bolder;
}

.get {
  margin-top: 24px;
  width: 131px;
  height: 48px;
  background: #ff6b00;
  color: #fff;
  border: none;
  margin-left: 100px;
  font-family: 'Inter', sans-serif;
  font-weight: bold;
  font-size: 17px;
}

.get:hover {
  background: #fff5e1;
  color: #f55800;
  border: 1px solid #f55800;
}

.contact .asch {
  width: 100%;
  font-weight: lighter;
  font-size: 0.5px;
  color: #dfe1e6;
  position: relative;
  top: 155px;
}

.icons-last {
  display: flex;
  gap: 20px;
  margin-top: 175px;
  justify-content: center;
  margin-bottom: 20px;
}

.icons-last li {
  list-style: none;
  font-size: 22px;
}

.icons-last i {
  color: #505f79;
}

.contact .last {
  width: 134px;
  height: 5px;
  background-color: #0d151e;
  border-radius: 10px;
  position: relative;
  bottom: 1px;
  margin-bottom: 10px;
}

.last-icon i {
  color: #505f79;
  margin-top: 25px;
}

@media screen and (max-width: 1100px) {
  .desk-list button {
    margin-top: 450px;
  }

  .mob-li li {
    width: min-content;
  }

  .recent-list li {
    width: min-content;
  }
}

@media screen and (max-width: 768px) {
  body {
    width: 100%;
    overflow-x: hidden;
  }

  .nav-top {
    display: flex;
  }

  .tit {
    position: relative;
    right: 90px;
  }

  .nav-menu {
    display: none;
  }

  .main-m {
    display: block;
    padding-right: 40px;
  }

  .info {
    width: 100%;
    background-size: 150px;
    background-position-y: 289px;
    height: 600px;
    background-image: url(img/Group-mob.png);
    background-repeat: no-repeat;
    background-position-x: 80.5vw;
  }

  .about-bruk {
    position: relative;
    right: 250px;
  }

  .about-bruk h1 {
    width: 327px;
    font-size: 55px;
    line-height: 64px;
  }

  .about-bruk h2 {
    width: 327px;
    font-size: 25px;
  }

  .discription {
    width: 358px;
    font-size: 19px;
    line-height: 23px;
  }

  .icon {
    display: flex;
    flex-direction: row;
    padding-top: 72vh;
    gap: 22px;
    cursor: pointer;
    position: relative;
    left: 20px;
  }

  .icon li {
    padding-bottom: 90px;
  }

  .header {
    height: 70vh;
    background-position-x: 20px;
    background-position-y: 140px;
    background-size: 300px;
  }

  .my-recent {
    padding-left: 0;
    margin: 0 auto;
  }

  .recent-list li {
    width: 10%;
    height: 40px;
  }

  .work-hr hr {
    margin-top: 45px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }

  .img {
    display: block;
    width: 100%;
  }

  .img img {
    width: 90%;
    position: relative;
    right: 78px;
  }

  .my-workr {
    position: relative;
    left: 60px;
    margin-top: 35px;
  }

  .desk-grid {
    display: none;
  }

  .dash {
    display: block;
    height: 100%;
    margin-left: 60px;
  }

  .dash-mob {
    background-image: url(img/dark.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 90%;
    background-position-y: -145px;
    height: 350px;
  }

  .mob-tit {
    width: 300px;
    font-size: 38px;
    margin-left: 15px;
    padding-top: 73px;
  }

  .mob-dics {
    width: 80%;
    padding-bottom: 40px;
  }

  .mob-li {
    width: 80%;
    position: relative;
    bottom: 60px;
  }

  .mob-li li {
    width: 25%;
    border: 1px solid rgb(141, 127, 127);
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
  }

  .dash-mob button {
    width: 100%;
    height: 50px;
    background-color: #f55800;
    color: #fff;
    position: relative;
    bottom: 40px;
    border: none;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
  }

  .dash-mob button:hover {
    background-color: #fff5e1;
    color: #f55800;
    border: 1px solid #f55800;
  }

  .about {
    background-size: 200px;
    background-position-y: 50vh;
    background-position-x: right;
    height: 1700px;
    background-image: url(img/back.png);
    background-repeat: no-repeat;
  }

  .about-work {
    position: relative;
    right: 50px;
  }

  .about-me p {
    position: relative;
    right: 50px;
    width: 88%;
  }

  .about-btn {
    width: 160px;
    position: relative;
    right: 50px;
    margin-top: 10px;
  }

  .about-btn:hover {
    background-color: #fff5e1;
    color: #f55800;
    border: 1px solid #f55800;
  }

  .about hr {
    width: 100%;
  }

  .about-list {
    display: grid;
    justify-content: center;
    height: 80vh;
    background-color: #1c1a19;
  }

  .contact {
    display: block;
  }

  .contact p {
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
    margin: 0 auto;
    width: 70%;
  }

  .email {
    width: 100%;
    margin: 0 auto;
  }

  .input {
    width: 400px;
    margin-top: 15px;
    margin: 5px auto;

  }

  .input-one {
    width: 400px;
    margin-top: 35px;
    margin: 5px auto;
  }

  .cont-btn {
    width: 140px;
    margin: 10px auto;
  }

  .lin-la {
    display: flex;
    height: 1px;
    background: #dfe1e6;
    position: relative;
    top: 120px;
  }

  .last-icon {
    display: flex;
    justify-content: center;
  }

  .last-icon i {
    color: #505f79;
    margin-top: 140px;
  }

  .cont {
    height: 62vh;
    margin-top: 10vh;
  }
}
